html{
    height: 2500px;
    background-image: url(https://img.freepik.com/photos-gratuite/collage-concept-experience-immersive_23-2149498352.jpg?size=5000&ext=jpg); 
    background-position: bottom;
    background-size:cover ;
}
body{
    /* position : fixed; */
    position: fixed;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    visibility:hidden;
    align-items: flex-end;
    /* background:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
    /* background: rgb(76, 76, 76); */
}
div{
    width:30px;
    height:30px;
    border:2px solid black;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 2px 2px black;

}

div:hover{
    box-shadow: 1px 1px rgb(207, 207, 207);
    border : 2px solid white;
}

canvas {
    cursor :crosshair;
    margin: 50px 10%;
    /* border:0px solid rgb(40, 187, 255); */
    padding:0;
    box-shadow:1px 12px 20px 5px rgba(13, 13, 13, 0.69);
    background: white;
    border-radius:25px;
}


h1{
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    line-height: 1em;
    color :rgb(243, 243, 243);
    text-shadow: 0px 0px 30px rgb(142, 225, 255);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 30px;
}

button {
    margin: 10px;
    width:100px ;
    height: 35px;
    /* background: #AAAAAA ; */
    /* border : 2px  #d3508f; */
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color : #343434
}

button:hover{
    background: #e3e3e3;
}
input[type="range" i] {
    align-self: center;
    color:white!important;
}

h1 span {
    text-shadow: none;
    font-size: 45px;
}